/*-- scss:defaults --*/
// Base document colors
$myborder: rgb(24, 188, 156);
$mybackground: rgb(24, 188, 156, 0.2);
$myborder-gray: #dee2e6;

// Theorems blocks
.theorem {
    background-color: $mybackground;
    border-left: 5px solid $myborder;
    border-right: 1px solid $myborder-gray;
    border-top: 1px solid $myborder-gray;
    border-bottom: 1px solid $myborder-gray;
    border-radius: 0.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
    overflow-wrap: break-word;
    padding-top: 0.7em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.example {
    all: unset;
}